body{
    background-color: #003049;
}
.dice{
    text-align: center;
    display: inline-block;
}
.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

h1{
    font-size: 8rem;
    text-align: center;
    font-family:'Lobster',cursive;
    color: #66fcf1;
    text-shadow:5px 0 #4a8480;
}
p{
    color: #c5c6c7;
    font-family: 'Sacramento';
    font-size: 2rem;
}
img{
    width: 80%;
}
footer{
   text-align: center;
   color: antiquewhite;
   font-size: .5rem;
   margin-top: 5%;
}